/* Общие стили */
*{
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

body {
  width: 100%;
  position: absolute;
  background: url(./images/Rectangle\ 1.png) no-repeat;
  background-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
